services:
  - type: web
    name: snapbuy-app
    plan: free
    dockerfilePath: ./SnapBuy/Dockerfile
    runtime: docker

  - type: pserv
    name: snapbuy-redis
    plan: free
    dockerfilePath: ./SnapBuy/redis/Dockerfile
    runtime: docker