services:
  - type: web
    name: snapbuy-app
    plan: free
    dockerfilePath: ./Dockerfile
    runtime: docker

  - type: pserv
    name: snapbuy-redis
    plan: free
    dockerfilePath: ./redis/Dockerfile
    runtime: docker